* {
    margin: 0 auto;
    padding: 0 auto;
}

.sidebar {
    position: fixed;
    top: 35%;
    background-color: #0f141c;
    text-align: center;
    color: white;
    width: 40px;
}

.social-icon {
    cursor: pointer;
    margin: 10px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.navbar{
    list-style: none;
}

.navbar-item {
}